<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="latest-articles">
                <h3 class="tittle"><i class="glyphicon glyphicon-file"></i>latest Articles</h3>
                <div class="world-news-grids">

                    <div class="world-news-grid">
                        <img src="~/images/a1.jpg" alt="" />
                        <a href="single.html" class="wd">Lorem ipsum dolor sit amet, ullamcorper consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="read" href="single.html">Read More</a>
                    </div>
                    <div class="world-news-grid">
                        <img src="~/images/a3.jpg" alt="" />
                        <a href="single.html" class="wd">PM Modi to inaugurate Rs 9,700 crore road projects in Bihar</a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="read" href="single.html">Read More</a>
                    </div>
                    <div class="world-news-grid lost">
                        <img src="~/images/a1.jpg" alt="" />
                        <a href="single.html" class="wd">Sports in Lorem ipsum dolor sit amet ullamcorper consectetur </a>
                        <p>Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.</p>
                        <a class="read" href="single.html">Read More</a>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>   
</div>
